<!-- <p>aside works!</p> -->

<mat-list>
    <h2 matSubheader>上班專區</h2>

    <button mat-button routerLink="calender">
        <mat-list-item >
            <mat-icon matListIcon>today</mat-icon>
            <h6 matLine>行事曆</h6>
        </mat-list-item>
    </button>

    <button mat-button routerLink="log-book">
        <mat-list-item >
            <mat-icon matListIcon>border_color</mat-icon>
            <h6 matLine>工作日誌</h6>
        </mat-list-item>
    </button>

    <button mat-button routerLink="to-do-list">
        <mat-list-item >
            <mat-icon matListIcon>playlist_add_check</mat-icon>
            <h6 matLine>待辦事項</h6>
        </mat-list-item>
    </button>

    <mat-divider></mat-divider>

    <h2 matSubheader>居家專區</h2>

    <button mat-button routerLink="calender">
        <mat-list-item >
            <mat-icon matListIcon>today</mat-icon>
            <h6 matLine>行事曆</h6>
        </mat-list-item>
    </button>

    <button mat-button routerLink="log-book">
        <mat-list-item >
            <mat-icon matListIcon>border_color</mat-icon>
            <h6 matLine>工作日誌</h6>
        </mat-list-item>
    </button>

    <button mat-button routerLink="to-do-list">
        <mat-list-item >
            <mat-icon matListIcon>playlist_add_check</mat-icon>
            <h6 matLine>待辦事項</h6>
        </mat-list-item>
    </button>
    
 </mat-list>