.layout {
    background: rgb(255, 237, 213);
    .header {
      background: rgb(195, 255, 232);
    }
    .main {
      background: rgb(223, 192, 151);
      .aside {
        background: rgb(255, 195, 135);
      }
      .content {
        background: rgb(255, 255, 255);
      }
    }
}


